#header {
	width: 100%;
	height: 119px;
	position: fixed;
	top: 0px;
	z-index: 1;
	left: 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

}

#footer {
	color: #9e9e9e;
	margin: 20px auto 0px auto;
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding-bottom: 10px;
	background: #F7F7F7;
}

#container {
	position: absolute;
	top: 125px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: scroll;
}

#menuPosition {
	padding: 15px 172px;
}

.logo {
	margin-left: 160px;
}

#logoAbove {
	padding-top: 17px;
}

#addBox {
	width: 27%;
	margin: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.heading {
	background-color: #F7931E;
	border-radius: 23px;
	height: 36px;
	text-align: center;
	font: Arial, Helvetica, sans-serif;
}

input[type='text'],textarea,select {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 3px 6px;
	width: 80%;
	font: Arial, Helvetica, sans-serif;
}

#searchBox {
	width: 69%;
	margin: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.columnSpace {
	margin: 16%;
}

.columnSpaceData {
	margin: 18%
}

.even {
	background: #aaaaa;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 0 0 0 25px;
	border-radius: 0 0 27px;
}

.odd {
	background: #efefef;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 0 0 0 25px;
	border-radius: 0 0 27px;
}